<div class="main-container">
  <h3>Login Box Settings</h3>
  <div class="add-logo-url-container">
    <form>
      <mat-form-field class="icon-url-field">
        <mat-label>Logo URL</mat-label>
        <input  matInput type="url" placeholder="https://your-logo-url.com">
      </mat-form-field>
    </form>
    <div class="add-logo-button-container">
      <button mat-raised-button (click)="updateLogo()" class="add-logo-button">Update Logo Url</button>
    </div>
  </div>

  <div class="create-button-container">
    <button mat-raised-button (click)="addProvider()" class="create-button">Add Provider</button>
  </div>
  <div class="provider-table-container">
    <h3>Integrated Social Providers</h3>
    <div class="table-container">
      <mat-table cdk-table [dataSource]="dataSource" class="data-table">


        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.id}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="providerName">
          <mat-header-cell *matHeaderCellDef>Provider Name</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.name}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; index as i" (click)="onRowClick(i)"></mat-row>
      </mat-table>
    </div>

  </div>
</div>
