## running application.props
iridium-core-server/src/main/resources/application.properties
iridium-core-server/src/main/support/db/test-seed.sql
iridium-email-server/src/main/resources/application.properties
## release 
tools/images/iridium-core-server*.jar
iridium-core-server-*.jar
iridium-*-bin
iridium-*-bin.tar.gz
# generated sql
create.sql
drop.sql

# angular client
iridium-angular-client/dist
# react client
iridium-client-nextjs/node_modules
iridium-client-nextjs/dist
# site
site/.venv/
site/site
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### NetBeans ###

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Database ###
/data/
