<div class="box">
  <img [src]="imagePath" width="650" height="114" alt="iridium logo">
</div>

<!--<div class="login-container">-->
<!--    <div class="login-wrapper">-->
<!--        <form [formGroup]="loginForm" (ngSubmit)="login()">-->
<!--            <mat-form-field appearance="outline" floatLabel="always">-->
<!--                <mat-label>Email Address</mat-label>-->
<!--                <input type="email" placeholder="you@example.com"  [readonly]="emailReadOnly" formControlName="emailAddress" [email]="true" matInput>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field appearance="outline" floatLabel="always">-->
<!--                <mat-label>Password</mat-label>-->
<!--                <input type="password" formControlName="password" matInput>-->
<!--            </mat-form-field>-->
<!--            -->
<!--            <button mat-raised-button color="primary">Log In</button>-->
<!--        </form>-->
<!--       -->
<!--        -->
<!--        <div [hidden]="notProcessing">-->
<!--            <app-spinner></app-spinner>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div>-->
<!--        <a href="https://github.com/login/oauth/authorize?response_type=code&client_id=5e7a719eeb2c2324ef4d&redirect_uri=http://localhost:4200&scope=user&state=302e3936656566366538">Login with Github anchor</a>-->
<!--        -->
<!--        <button mat-button (click)="githubAuthorize()">Login with Github</button>-->
<!--            -->
<!--     -->
<!--    </div>-->

<!--</div>-->

