

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .mat-login {
    color: #5b89b4;
  }

  .box-wrapper {
    background-color: #303030;
    height: 100%;
  }

  .box {

    width:80%;
    min-height:80vh;
    background-color: #fafafa;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center; /* not really needed with auto margin on img*/
  }
  .box img {
    display: block;
    width: 80%;
    min-width:100px;
    max-width: 650px; /*actual image width*/
    height: auto; /* maintain aspect ratio*/
    margin: auto; /*optional centering of image*/
  }
