<div class="reset-container">
    <div class="reset-wrapper">

        <form [formGroup]="registerForm" (ngSubmit)="resetPassword()">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Email</mat-label>
            <input type="password" placeholder="your new password"  formControlName="password" ngModel matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Email</mat-label>
            <input type="password" placeholder="Confirm your new password"  formControlName="passwordConfirmation" ngModel matInput>
        </mat-form-field>

        <button mat-raised-button color="primary">Register</button>
        <div [hidden]="notProcessing">
            <app-spinner></app-spinner>
        </div>
    </form>
    </div>
</div>