
  .reset-wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
   
  }

  .reset-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }




 
  
