
  .register-wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
  }

  .logo-wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;

  }

  .register-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .sign-in-button-container {
    margin-bottom: 15px;
  }

  .sign-in-button {
    background-color: #ff671d !important;
    color: #fafafa !important;
    width: 100%;
  }

  .register-button {
    background-color:  #5b89b4 !important;
    color: #fafafa !important;
    width: 100%;
  }

  .register-button-container {
    margin-top: 15px;
  }



