<div class="register-container">
  <div class="logo-wrapper">
    <img src="assets/iridium-3C-xl.png" alt="iridium-home">

  </div>
    <div class="register-wrapper">


          <mat-card>
            <mat-card-content>
              <div class="sign-in-button-container">
                <button mat-raised-button class="sign-in-button" (click)="signIn()" >Sign In</button>
              </div>
              <mat-divider style="width: 40%; display: inline-block;"></mat-divider>
              <span style="padding: 20px; font-weight: 500;">OR</span>
              <mat-divider style="width: 40%; display: inline-block;"></mat-divider>
              <div class="register-button-container">
                <button mat-raised-button class="register-button" (click)="register()">Register</button>
              </div>

            </mat-card-content>
          </mat-card>





    </div>
</div>
