body {
    background: rgb(208,207,205);
    background: radial-gradient(circle, rgba(208,207,205,1) 0%, rgba(91,137,180,1) 100%);
    font-family: 'Open Sans';font-size: 16px;
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo-container {
    height: 10%;
    background: url('/img/iridium-3C-large.png')  center center no-repeat;
    background-size: contain;
}