<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login | Iridium</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <!-- Required Material Web JavaScript library -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <!-- Instantiate single textfield component rendered in the document -->

</head>
<body>

    <div class="mdc-card card-container">

        <form class="login-container" method="post" th:action="@{/authenticate(response_type=${param.response_type},state=${param.state},redirect_uri=${param.redirect_uri},client_id=${param.client_id},code_challenge_method=${param.code_challenge_method},code_challenge=${param.code_challenge})}" th:object="${authenticationRequest}" style="height: ${containerHeight}">
            <div class="tenant-logo-container">

                <!--            <img th:src="@{/img/iridium-3C-large.png}"/>-->
            </div>

            <!--            <img th:src="@{/img/iridium-3C-large.png}"/>-->
<!--        <form action="#" method="post" th:action="@{/oauth/authorize}" th:object="${blog}">-->
            <label class="mdc-text-field mdc-text-field--outlined" id="username-label">
                <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="username">username</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
            <input type="text" class="mdc-text-field__input" th:field="*{username}" aria-labelledby="username">
        </label>
        <label class="mdc-text-field mdc-text-field--outlined" id="password-label">
            <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="my-label-id">Password</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="password" class="mdc-text-field__input" th:field="*{password}" aria-labelledby="password">
                </label>
            <input type="hidden" th:value="${param.client_id}"  name="clientId" />
                <div class="login-container-child">
                    <button class="mdc-button mdc-button--raised login_button" type="submit" value="Submit">
                        <span class="mdc-button__label">Login</span>
                    </button>

                    <div><a th:href="@{reset-password}">reset</a> your password</div>
                    <div>or</div>
                    <div><a th:href="@{/register(response_type=${param.response_type},state=${param.state},redirect_uri=${param.redirect_uri},client_id=${param.client_id},code_challenge_method=${param.code_challenge_method},code_challenge=${param.code_challenge})}">Sign Up</a></div>
                </div>
        </form>


            <div class="button-container">
                <form method="post" th:action="@{/oauth/external/authorize(response_type=${externalDescriptor.responseType},redirect_uri=${externalDescriptor.redirectUri},client_id=${param.client_id},scope=${externalDescriptor.scope},state=${param.state},provider=${externalDescriptor.name})}" th:each="externalDescriptor : ${externalProviderDescriptors}">
                    <button type="submit" value="Submit"
                       class="mdc-button mdc-button--outlined mdc-button--icon-leading github-button">
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__focus-ring"></span>
                        <span class="mdc-button__label">Login with Github</span>
                    </button>
                </form>


                <div>
                    Secured By
                </div>

            <img th:src="@{/img/iridium-3C-large.png}"/>
            </div>
<!--        </form>-->

    </div>


<script>
    mdc.textField.MDCTextField.attachTo(document.querySelector('#username-label'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('#password-label'));
</script>
<div>

</div>
</body>
</html>
