<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login | Iridium</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <!-- Required Material Web JavaScript library -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

</head>
<body>

    <div class="mdc-card card-container">

        <form class="login-container" method="post" th:action="@{/authenticate(response_type=${param.response_type},state=${param.state},redirect_uri=${param.redirect_uri},client_id=${param.client_id},code_challenge_method=${param.code_challenge_method},code_challenge=${param.code_challenge})}" th:object="${authenticationRequest}" style="height: ${containerHeight}">
            <div class="tenant-logo-container">

            </div>

        </form>


            <div class="button-container">
                <form method="post" th:action="@{/oauth/external/authorize(response_type=${externalDescriptor.responseType},redirect_uri=${param.redirect_uri},client_id=${param.client_id},scope=${externalDescriptor.scope},state=${param.state},provider=${externalDescriptor.name})}" th:each="externalDescriptor : ${externalProviderDescriptors}">
                    <button type="submit" value="Submit"
                       class="mdc-button mdc-button--outlined mdc-button--icon-leading github-button">
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__focus-ring"></span>
                        <span class="mdc-button__label"  th:text="'Login with ' + ${externalDescriptor.name}"></span>
                    </button>
                </form>
            </div>

    </div>

<div>

</div>
</body>
</html>
