<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login | Iridium</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <!-- Required Material Web JavaScript library -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="text/javascript" th:src="@{/js/register.js}"></script>


</head>
<style th:inline="css">
    .tenant-logo-container-background {
        background: url([[${tenantLogoUrl}]])  center center no-repeat;
        background-size: contain
    }
</style>

<body>

    <div class="mdc-card card-container">

        <form class="login-container" th:id="passkeyForm" method="post" th:action="@{/identities(response_type=${param.response_type},state=${param.state},redirect_uri=${param.redirect_uri},client_id=${param.client_id},code_challenge_method=${param.code_challenge_method},code_challenge=${param.code_challenge})}" th:object="${createPasskeyRequest}" style="height: ${containerHeight}">
            <div class="tenant-logo-container tenant-logo-container-background">

            </div>

            <label class="mdc-text-field mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="email-label-id">Email</span>
                <input class="mdc-text-field__input email-address-input" id="handle" th:field="*{handle}" type="text" aria-labelledby="email-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <div class="passwordless-button-container">
                <input type="hidden" id="registrationChallenge" th:value="${registrationChallenge}"/>
                <input type="hidden" id="id" th:field="*{id}"/>
                <input type="hidden" id="rawId" th:field="*{rawId}" />
                <input type="hidden" id="type" th:field="*{type}"  />
                <input type="hidden" id="authenticatorAttachment" th:field="*{authenticatorAttachment}"/>
                <input type="hidden" id="attestationObject" th:field="*{attestationObject}"/>
                <input type="hidden" id="clientDataJSON" th:field="*{clientDataJSON}"/>
                <input type="hidden" id="authenticatorData" th:field="*{authenticatorData}"/>
                <input type="hidden" id="publicKey" th:field="*{publicKey}"/>
                <input type="hidden" id="algorithm" th:field="*{algorithm}"/>
                <input type="hidden" id="transports" th:field="*{transports}"/>
                <button th:attr="onclick=|register('login')|"
                        class="mdc-button mdc-button--outlined mdc-button--icon-leading github-button passwordless-button-container-item">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__focus-ring"></span>
                    <span class="mdc-button__label"  th:text="Login"></span>
                </button>
                <button type="button" th:attr="onclick=|register('register')|"
                        class="mdc-button mdc-button--outlined mdc-button--icon-leading github-button passwordless-button-container-item">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__focus-ring"></span>
                    <span class="mdc-button__label" th:text="Register"></span>
                </button>
            </div>

        </form>

            <div class="button-container">

                <form method="post" th:action="@{/oauth/external/authorize(response_type=${externalDescriptor.responseType},redirect_uri=${param.redirect_uri},client_id=${param.client_id},scope=${externalDescriptor.scope},state=${param.state},provider=${externalDescriptor.name})}" th:each="externalDescriptor : ${externalProviderDescriptors}">
                    <button type="submit" value="Submit"
                       class="mdc-button mdc-button--outlined mdc-button--icon-leading github-button">
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__focus-ring"></span>
                        <span class="mdc-button__label"  th:text="'Login with ' + ${externalDescriptor.name}"></span>
                    </button>
                </form>
            </div>

    </div>

<div>
    <script>
        mdc.textField.MDCTextField.attachTo(document.querySelector('.mdc-text-field'));
    </script>
</div>
</body>
</html>
