.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container {
  /*display: flex;*/
  flex-direction: row;
  align-items: flex-end;
  /*justify-content: space-between;*/
  /*margin-right: 25px;*/
}

.application-table-container {
  width: 80%;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.table-container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.data-table {
  min-width: 100%;
}

.create-button-container {
  padding-top: 25px;
  width: 80%;
  justify-content: flex-end;
  display: flex;
}

.create-button {
  background-color: #ff671d;
  color: #fafafa;
  justify-content: end;
}
